.footer__bottom {
    background-color: $green;
    padding: 45px 0 45px 105px;
    text-align: left;
    color: $bottom_text;
}

.text__top {
    font-size: 46px; 
    text-transform: uppercase;
}
.text__bottom {
    font-size: 16px; 
}
.top__span {
    font-weight: 700;
}